<%- include('../partials/header') %>

<a href="/collections/new"><button>Add New Collection</button></a>
<a href="/items/new"><button>Add Item to Collection</button></a>
<table>
  <thead>
    <tr>
      <th>Collection Name</th>
      <th>Collection Type</th>
    </tr>
  </thead>
  <tbody>
    <% collections.forEach(c => { %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.type %></td>
        <td><a href="/collections/<%= c._id %>">Details</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
