<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(i => { %>
      <tr>
        <td><a href="/items/<%= i._id %>"><%= i.itemName %></a></td>
        <td>
            <form action="/items/<%= i._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
            </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<a href="/collections/new">Add New Collection</a>
<a href="/items/new">Add Item to Collection</a>

<%- include('../partials/footer') %>
